* {
    padding: 0;
    margin: 0;
  }
  body {
    background-image: url();
  }
  header {
    background-color: rgb(108, 172, 215);
    padding: 10px;
  }
  
  .navbar img {
      width: 50px;
      height: 50px;
      width: fit-content;
      border-radius: 100%;
  }
  
  .navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .navbar a{
      color: rgb(0, 0, 0);
      text-decoration: none;
  }
  
  .navbar a:hover {
      color: white;
  }
  
  h2 {
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  img {
    width: 230px;
    height: 230px;
    border-radius: 10px;
  }
  a {
    color: rgb(255, 255, 255);
  }
  .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card {
    background: rgb(0, 0, 0);
    font-size: 1em;
    text-align: center;
    padding: 10px;
  }

  h1 {
    color: rgb(255, 255, 255);
  }